extends layout
block content
	h1 Forgot Password
	-if(message){
		p #{message} in a bottle
	-}else{
		form(action="/forgotpassword" method="POST")
			.errormsg #{errormessage}
			label(for="email") Email:
			input(type="text" name="email")
			input(type="submit" name="recover" value="Recover password") 
	-}