doctype html
html
	head
		title Basic Membership System
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/css/style.css')
	body
	include header.jade
	include nav.jade
	block content
	script(src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript")
	script(src="js/main.js" type="text/javascript")
